<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Misi.Service.Billing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseRoutingsFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
  
  <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <!-- SERVICE REFERENCES -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHelpdeskServ" receiveTimeout="00:30:00"
          sendTimeout="00:30:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8087/Service/HelpdeskServ.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelpdeskServ"
        contract="HelpdeskConnectorService.IHelpdeskServ" name="BasicHttpBinding_IHelpdeskServ" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <!--
      <endpointBehaviors>
        <behavior name="Behaviors.EndpointBehavior"  >
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      -->
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <!-- /SERVICE REFERENCES -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="BillingDbContext" connectionString="Data Source=localhost;Initial Catalog=MISI_Billing_Automation_DB_dev;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="BillingDbContext" connectionString="Data Source=localhost;Initial Catalog=MISI_Billing_Automation_DB_uat;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="BillingDbContext" connectionString="Data Source=localhost;Initial Catalog=MISI_Billing_Automation_DB_training;Integrated Security=False;User id=sa;Password=passw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <Misi.Service.Billing.Properties.Settings>
      <setting name="WrongDataType" serializeAs="String">
        <value>Wrong data type error!</value>
      </setting>
      <setting name="HelpdeskRefUrl" serializeAs="String">
        <value>BasicHttpBinding_IHelpdeskServ</value>
      </setting>
      <setting name="HelpdeskDateFormat" serializeAs="String">
        <value>yyyy-MM-dd</value>
      </setting>
      <setting name="OrgNumber" serializeAs="String">
        <value>6500</value>
      </setting>
      <setting name="SAPConnPoolSize" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Unblock" serializeAs="String">
        <value>UNBLOCK</value>
      </setting>
      <setting name="RecordsPerReq" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="RecordsPerWrite" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="SAP_Name" serializeAs="String">
        <value>DEV</value>
      </setting>
      <setting name="SAP_Client" serializeAs="String">
        <value>999</value>
      </setting>
      <setting name="SAP_SystemID" serializeAs="String">
        <value>Q05</value>
        <!--<value>QM5</value>-->
      </setting>
      <setting name="SAP_Lang" serializeAs="String">
        <value>EN</value>
      </setting>
      <setting name="SAP_SysNumber" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="SAP_ServerIP" serializeAs="String">
        <value>10.1.3.89</value>
        <!--<value>10.1.3.115</value>-->
      </setting>
      <setting name="BillingType" serializeAs="String">
        <value>ZF9</value>
      </setting>
    </Misi.Service.Billing.Properties.Settings>
  </applicationSettings>
</configuration>