@model ModelStateDictionary

@if (!Model.IsValid)
{
    <div class="bootstrap">
        <div class="alert alert-info">
            <button data-dismiss="alert" class="close" type="button">x</button>
            <ul>
                @foreach (var modelError in
                     Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                {
                    <li>@modelError.ErrorMessage</li>
                }
            </ul>
        </div>
    </div>
}

