<div class="modal fade" id="billing-document-modal" tabindex="-1" role="dialog" aria-labelledby="Modal Routing" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="billing-document-modal-container"></div>
    </div>
</div>
