<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISAPProxyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="wc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISAPProxyService"
                contract="SAPServiceClient.ISAPProxyService" name="BasicHttpBinding_ISAPProxyService" />
        </client>
    </system.serviceModel>
</configuration>