@using Misi.MVC.Resources

<div class="bootstrap">
    <div class="alert alert-success">
        <button data-dismiss="alert" class="close" type="button">x</button>
        Please make sure that the following fields are filled:
        <ul>
            <li>
                <strong>To Create New</strong>: (1) Billing Date From/To (2) Sold-To Party
            </li>
            <li>
                <strong>To Run or Display</strong>: (1) Billing Run 
            </li>
        </ul>
    </div>
</div>

