<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHelpdeskServ" />
        <binding name="BasicHttpBinding_ISAPConnector" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8087/Service/HelpdeskServ.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelpdeskServ"
        contract="HelpdeskServ.IHelpdeskServ" name="BasicHttpBinding_IHelpdeskServ" />
      <endpoint address="http://localhost:8086/Service/SAPConnector.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISAPConnector"
        contract="SAPConnServ.ISAPConnector" name="BasicHttpBinding_ISAPConnector" />
    </client>
  </system.serviceModel>
</configuration>