@using Misi.MVC.Resources

<div class="bootstrap">
    <div class="alert alert-success">
        <button data-dismiss="alert" class="close" type="button">x</button>
        Please make sure that the following fields are filled:
        <ol>
            <li>
                Billing Date From/To
            </li>
            <li>
                Sold-To Party
            </li>
        </ol>
    </div>
</div>

