@model Misi.MVC.ViewModels.Shared.RadioButtonWithListViewModel

@{
    <div class="row table-responsive overflow-y">
        <table cellspacing="0" cellpadding="0" border="0" class="table table-striped table-hover">
            <thead>
                <tr class="heading">
                    <th>#</th>
                    @if (Model.Columns.Any())
                    {
                        foreach (KeyValuePair<string, string> col in Model.Columns.ToArray()[0])
                        {
                            <th class="text-center">@col.Key</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @for (int rowIndex = 0; rowIndex < Model.RadioButtons.ToList().Count(); rowIndex++)
                {
                    <tr>
                        <td>
                            @Html.RadioButtonFor(m => m.SelectedValue, Model.RadioButtons.ToArray()[rowIndex].Id)
                        </td>
                        @foreach (var col in Model.Columns.ToArray()[rowIndex])
                        {
                            <td class="center">
                                @col.Value
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
    